body {
    background: yellowgreen;
}

.main-content {
    background: white;
    border-radius: 5px;
    min-height: 200px;
}

.content {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16pt;
}

h1 {
    font-size: 36pt;
    text-align: center;
}
