<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/main.css}" />
</head>
<body class="container">

<div class="row">
    <div class="col-md-12">
       <h1>OpenShift Spring Quickstart</h1>
    </div>
</div>

<div class="row main-content">
    <div class="col-md-6 content">
        <!-- Quick Info -->
        <h2>Quick info</h2>
        <p>
            Your templates are located here:
            <pre>/webapp/WEB-INFO/views</pre>
        </p>
        <p>
            Your javascript and css resources are located here:
            <pre>/webapp/resources</pre>
        </p>
        <p>
            You can find your controllers in the main source folder
        </p>
        <!-- Testing -->
        <h2>Testing</h2>
        <p>Run your JUnit tests:
            <pre>src/test/java/org/jsvgoncalves/springquickstart</pre>
        </p>

    </div>
    <div class="col-md-6 content">
        <h2>Current Deployment</h2>
        <p>
            You can test this deployment by accessing the
            <a href="intro/world">/intro</a> hello world page!
        </p>
    </div>
</div>

</body>
</html>
